# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
frontend/dist/
backend/dist/
build/
dist/

# Editor and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Timetable and Occupancy Excel Files
"FEST Classroom Occupancy.xlsx"
"Laboratory Time Table.xlsx"
*.xlsx
